.titleBox {
    display:flex;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    padding-left:3%;
}

.linkBox {
    display:flex;
    justify-content: flex-end;
    padding-right:60px;
}

.menuToggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
  }

.menuBar {
    background-color: #313131;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .menuLink {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
    padding-right:35px;
  }

  .menuLink.active {
    color: #ccc;
  }

  .menuLink.active::after {
    color: #ccc;
    content:"";
  }

  
  .menuLink:hover {
    color: #ccc;
  }

  .sideBarLink::after, .menuLink::after {
    content: '→';
    position: absolute;
    right: 0;
    opacity: 0; 
    transform: translateX(-30px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-size: 1em;
    color: #ccc;
  }

  .sideBarLink:active {
    font-size: 0.9em; /* Smaller font size when clicked */
  }
  
  .sideBarLink:hover::after, .menuLink:hover::after {
    opacity: 0.7;
    transform: translateX(-18px);
  }

  @media (max-width: 770px) {

    .menuToggle {
      display: block;
      padding-right:40px;
    }
    .menuToggle:hover {
        color: #ccc;
    }

    .linkBox {
      display: none;
      flex-direction: column;
      background-color: #313131;
      position: absolute;
      opacity:0.9;
      top: 100%;
      right:0;
      width: 23%;
      gap: 5px;
    }
  
    .linkBox.open {
      display: flex;
    }
  
    .menuLink {
      padding: 10px 20px;
      text-align: left;
    }
  }


@media (max-width: 600px) {
    .titleBox{
      font-size: 1.5em;
    }
}