.sideBarWrap {
    display: flex;
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: #313131;
    margin-top: 0;
    padding-top: 75px;
    flex-direction: column;
    color: white;
  }
  
  .categoryWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    user-select: none;
    transition: color 0.3s ease;
  }
  
  .sideBarArrow {
    padding-top: 3px;
    padding-left: 3px;
  }

  .sideBarOpacity {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  
  .categoryWrap:hover {
    color: #c3c3c3;
    cursor: pointer;
  }
  
  .categoryHeader {
    display:flex;
    justify-content: flex-end;
    height: 100%;
    border: 0.8px solid #c3c3c3;
    padding: 10px;
  }
  
  .categoryLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

a.sideBarLink::after {
    content: '→';
    position: absolute;
    right: 0;
    opacity: 0; 
    transform: translateX(-30px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-size: 1em;
  }
  
a.sideBarLink:hover::after {
    opacity: 0.7;
    transform: translateX(-18px);
  }

    
  a.sideBarLink {
    padding:6px 20px;
    color: #bbb;
    transition: color 0.3s ease;
    border-bottom: 1px solid black;
    text-decoration: none;
  }
  
  a.sideBarLink:hover,
  a.sideBarLink.active {
    color: #fff;
    cursor: pointer;
  }


  .sideBarLink:active {
    font-size: 0.95em;
    color:white;
  }

  a.sideBarLink{
    display:block;
  }
  

  
  @media (max-width: 768px) {
    .sideBarWrap {
      width: 100%; 
      position: relative; 
      margin-top: 0;
      padding-top: 77px; 
    }
  
    .categoryHeader {
      justify-content: center;
      text-align: center;
    }
  
    .categoryLinks {
      display: block;
      text-align: center;
    }
  
    a.sideBarLink:hover {
      background-color: #444;
      color: white;
    }
  
  }
  